@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark * {
    transition: none !important;
  }
}

/* Tailwind Custom Shadow */
@layer utilities {
  .custom-shadow {
    box-shadow: 0px 8px 25px 8px rgba(0, 0, 0, 0.04);
  }
}

.text-outline {
  text-shadow:
    0.5px 0.5px 2px rgb(50, 50, 50),
    0 -0.5px 2px rgb(50, 50, 50),
    -0.5px 0 2px rgb(50, 50, 50),
    0 0.5px 2px rgb(50, 50, 50);
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
